// Global
%clearfix {
    &:after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        font-size: 0;
        content: ' ';
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
}

.wrapper {
    overflow: auto;

    position: relative;
    margin: 0 auto;

    width: 90%;
    max-width: 990px;
}

// Banner
.site-header {
    background: $primary-colour;
    background: -moz-linear-gradient(-45deg,  $primary-colour 0%, $primary-colour-dark 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$primary-colour), color-stop(100%,$primary-colour-dark));
    background: -webkit-linear-gradient(-45deg,  $primary-colour 0%,$primary-colour-dark 100%);
    background: -o-linear-gradient(-45deg,  $primary-colour 0%,$primary-colour-dark 100%);
    background: -ms-linear-gradient(-45deg,  $primary-colour 0%,$primary-colour-dark 100%);
    background: linear-gradient(135deg,  $primary-colour 0%,$primary-colour-dark 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$primary-colour}', endColorstr='#{$primary-colour-dark}',GradientType=1 );

    padding: 50px 0 60px;

    text-align: center;
    text-shadow: 2px 2px 1px rgba(#000, 0.15);
    color: #FFF;
}

.project-meta {
    margin: 0 auto;
    width: 475px;
}

.project-title {
    margin: 0;
    padding: 0;

    font-size: 6em;
    font-style: italic;
    font-weight: 300;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.project-summary {
    margin-bottom: 50px;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 500;
}

.project-download {
    display: inline-block;
    border-radius: 2px;

    background: $secondary-colour;
    background: -moz-linear-gradient(-45deg,  $secondary-colour 0%, $secondary-colour-dark 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$secondary-colour), color-stop(100%,$secondary-colour-dark));
    background: -webkit-linear-gradient(-45deg,  $secondary-colour 0%,$secondary-colour-dark 100%);
    background: -o-linear-gradient(-45deg,  $secondary-colour 0%,$secondary-colour-dark 100%);
    background: -ms-linear-gradient(-45deg,  $secondary-colour 0%,$secondary-colour-dark 100%);
    background: linear-gradient(135deg,  $secondary-colour 0%,$secondary-colour-dark 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$secondary-colour}', endColorstr='#{$secondary-colour-dark}',GradientType=1 );

    padding: 10px 40px;

    text-decoration: none;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;

    color: #FFF;

    &:hover {
        background: $secondary-colour-dark;
    }
}

.project-src {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 500;
    color: #FFF;

    &:hover {
        text-decoration: underline;
    }
}